/* You can add global styles to this file, and also import other style files */
/* img.imagen-generada {
    max-width: 50%;
    border-style: none;
    vertical-align: middle;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
} */